---
import PagefindSearchIsland from "./PagefindSearchIsland.astro";
import type { PagefindConfig } from "../config/integrations";

interface Props {
  config: PagefindConfig;
}

const { config }: Props = Astro.props;
const assetPath = config.assetPath.replace(/\/$/, "");
---

{
  config.enabled && (
    <astro-fragment>
      <div class="my-10 not-prose">
        <PagefindSearchIsland
          client:idle
          assetPath={assetPath}
          placeholder={config.translations.placeholder}
        />
      </div>
      <link rel="stylesheet" href={`${assetPath}/pagefind-ui.css`} />
    </astro-fragment>
  )
}
