<div class="my-10 not-prose">
  <div id="pagefind-search"></div>
</div>
<link rel="stylesheet" href="/pagefind/pagefind-ui.css" />
<script type="module">
  import PagefindUI from '/pagefind/pagefind-ui.js';
  new PagefindUI({
    element: '#pagefind-search',
    showImages: false,
    showSubResults: true,
    translations: { placeholder: 'Search posts' }
  });
</script>
