---
import PagefindSearchIsland from "./PagefindSearchIsland";
import type { PagefindConfig } from "../config/integrations";

interface Props {
  config: PagefindConfig;
}

const { config }: Props = Astro.props;
const assetPath = config.assetPath.replace(/\/$/, "");
const placeholder = config.translations.placeholder;
---

{
  config.enabled && (
    <astro-fragment>
      <div class="my-10 not-prose">
        <div id="pagefind-search" />
        <PagefindSearchIsland
          client:idle
          assetPath={assetPath}
          placeholder={placeholder}
          targetSelector="#pagefind-search"
        />
      </div>
      <link rel="stylesheet" href={`${assetPath}/pagefind-ui.css`} />
    </astro-fragment>
  )
}
